{% load static %}

{% comment %}
This file serves as a template for the entire website.

Link files include semantic css and js, a common.js file for all generic javascript methods, and jQuery. This means you do not need to link those if you extend this base properly.

Block title simply sets the title.
{% endcomment %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="https://github.com/Student-Technology-Center">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <title>
            {% block title %} Student Technology Center {% endblock %}
        </title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
        <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
        <script>
          if (getCookie('csrftoken')) {
            eraseCookie('csrftoken');
          }

          setCookie('csrftoken', '{{csrf_token}}', 1);
        </script>
        {% block links %}
        {% endblock %}
    </head>
    <body>
      <div class='ui inverted segment' style='width: 100%; margin-bottom: 0px; border-radius: 0px;' id='menu'>
          <div class="ui inverted secondary labeled icon menu" style='width: 100%;'>
              <a class="item" href='/hourmanager/'>
                <i class="clock icon"></i>
                Hour Manager
              </a>
              <a class="item" href='/shifts/'>
                <i class="hourglass icon"></i>
                Shift Manager
              </a>
              <a class="item" href='/lfp/'>
                <i class="print icon"></i>
                LFP Scheduler
              </a>
              <a class="item" href='/wiki/'>
                <i class="book icon"></i>
                Wiki
              </a>
              <a class="item" href='/evaluations/'>
                <i class="edit icon"></i>
                Evaluations
              </a>
              <a class='item' href='/bug/'>
                  <i class='bug icon'></i>
                  Submit a Ticket
              </a>
              <div class="right menu">
                <a class='item' href='/user/profile/'>
                    <i class='user icon'></i>
                    Profile
                    {% if request.user.useroptions.shift_name == "" %}
                      <script>
                        $('.user.icon')
                        .transition({
                          animation : 'jiggle',
                          looping   : true,
                          interval  : 200
                        })
                      </script>
                    {% endif %}
                </a>
                <a class='item' onclick='logoutUser("/user");'>
                    <i class='hand peace icon'></i>
                    Logout
                </a>
              </div>
          </div>  
        </div>
        <div class='ui floating bottom attached compact message' style="position: absolute; right: 0; z-index: -999;">
          <div class="header">
            Logged in as:
          </div>
          <p style='margin-bottom: 0px;'>{{ user.first_name }} {{ user.last_name }}</p>
          {% if user.is_superuser %}
            <p style='color: green; margin-top: 3px;'>Admin</p>
          {% endif %}
        </div>
        <div class='ui grid'>
          {% block content %}
          {% endblock %}
        </div>
    </body>
</html>
