{% load static %}

<html>
    <head>
        <title>
            Student Technology Center
        </title>

        <!-- JS links -->
        <script>
            function getSubdomain() {return (window.location.host).split('.')[0];}
            function isMobile() {return getSubdomain() === 'mdev' || getSubdomain() === 'm';}
            
        </script>
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
        <script src="{% static 'js/login.js' %}"></script>
        <script src="{% static 'js/index_main.js' %}"></script>

        <!-- CSS links -->

        {% if creating_shifts %}
            <link rel='stylesheet' type='text/css' href="{% static 'css/tile_shake.css' %}">
        {% endif %}

        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index_main.css' %}">
    </head>
    <body>
        {% if user.is_authenticated %}
            <h2>Welcome {{user.first_name}}</h2>
            {% if user.is_superuser %}
                <h2 style='color: green; font-size: 15px;'>Superuser enabled.</h2>
            {% endif %}
            <h2 style='font-size: 25px;'>
                {{motd}}
            </h2>
            <div id='link_holder'>
                <a href='/hourmanager/' class='app_button'>
                    <div id='hour_manager_link' class='app_link'>
                        <img src='{% static 'icons/clock.svg' %}' />
                        <span> Hour Manager </span>
                        <p class='add_info_text' style='display: none'>
                            Give up shifts or claim shifts.
                        </p>
                    </div>
                </a>
                <a href='/wiki/' class='app_button'>
                    <div id='wiki_link' class='app_link'>
                        <img src='{% static 'icons/scroll.svg' %}' />
                        <span> Wiki </span>
                        <p class='add_info_text' style='display: none'>
                            Documentation regarding the STC is held here.
                        </p>
                    </div>
                </a>
                <a href='/lfp/' class='app_button'>
                    <div id='lfp_link' class='app_link'>
                        <img src='{% static 'icons/printer.svg' %}' />
                        <span> LFP Scheduler </span>
                        <p class='add_info_text' style='display: none'>
                            Schedule an LFP appointment for clients.
                        </p>
                    </div>
                </a>
                <a href='/evaluations/' class='app_button'>
                    <div id='evaluations_link' class='app_link'>
                        <img src='{% static 'icons/notebook.svg' %}' />
                        <span> Evaluations </span>
                        <p class='add_info_text' style='display: none'>
                            Evaluate a STC employee's workshop.
                        </p>
                    </div>
                </a>
                <a href='/shifts/' class='app_button'>
                    <div id='shift_link' class='app_link'>
                        <img src='{% static 'icons/hourglass.svg' %}' />
                        <span> Shift Manager </span>
                        <p class='add_info_text' style='display: none'>
                            Create everyone's shifts for the quarter.
                        </p>
                    </div>
                </a>
            </div>
            <div id='xtra_links'>
                <a href='user/logout'>Logout</a><span>|</span><a href='/user/profile/'>Profile</a>
            </div>
            <br>
            <h3 id='app_info'>
                Student Technology Center
            </h3>
        {% else %}
        <div id='login'>
            <h2>Hi.</h2>
            <div id='links'>
                <a href='/user/login/'>Login</a><span>|</span><a href='/user/register/'>Register</a>
            </div>
        </div>
        {% endif %}
    </body>
</html>
