{% load static %}

<html>
    <head>
        <title>
            Student Technology Center
        </title>

        <!-- JS links -->
        <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

        <!-- CSS links -->
        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    </head>
    <body>
        <div id="header">
            <h2>
                Welcome {{ user.first_name }}
            </h2>
            <div id="links">
                {% if user.is_authenticated %}
                    <a href="/user/logout/">Logout</a>
                {% else %}
                    <a href="/user/login/">Login</a> | <a href="/user/register/">Signup</a>
                {% endif %}
            </div>
        </div>
        
        <ul>
            <li>
                <a href="/lfp/">LFP Scheduler</a>
            </li>
            <li>
                <a href="/hourmanager/">Hour Manager</a>
            </li>
            <li>
              <a href="/wiki/">Django Wiki</a>
            </li>
        </ul>
    </bdyo>
</html>