**/__pycache__
*.pyc
*/*.pyc
cas/*
hour_manager/
lfp_scheduler/
evaluations/
django-wiki/
hour_manager/*
lfp_scheduler/*
evaluations/*
shiftmanager/
shiftmanager/*
bug_tracker/
bug_tracker/*
django-wiki/*
django-env/
wiki/
media/
shiftmanager/
.vscode/
__pycache__/

lfp_pw.py

*.sqlite3
db.sqlite3

*.pyc
*.pyo

.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64/
