[submodule "hour_manager"]
	path = hour_manager
	url = https://github.com/Student-Technology-Center/Hour-Manager.git
	branch = master
[submodule "lfp_scheduler"]
	path = lfp_scheduler
	url = https://github.com/Student-Technology-Center/lfp_scheduler.git
	branch = master
[submodule "django-wiki"]
	path = django-wiki
	url = https://github.com/django-wiki/django-wiki.git
