body {
	background-color: #53647E;
	margin: 0;
	padding: 0;
}

#content {
	display: flex;
	justify-content: center;
	align-items: center;
}

#content div {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 50%;
}

.helptext {
	display: none;
}




