body {
	background-color: #53647E;
}

body > .grid {
  height: 100%;
}

label div {
	color: black;
}

.column {
	max-width: 450px;
}

#switch_button {
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;

	padding: 12px;
}