body {
	background-color: #53647E;
}

#content {
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#register_form {
	display: inline-block;
	overflow: hidden;
}

#login_form {
	float: left;
	display: inline-block;
}




