{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Email Confirmation</title>
  <meta name="author" content="Christian Brintnall">

  <link rel="stylesheet" href="{% static 'css/confirm_email.css' %}" />
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
  <script>
  	function sendEmail() {
  			$.ajax({
					type: "GET",
					url: "/user/api/send_confirmation_email/"
			})
  	}

		function logout() {
			$.ajax({
				type: "GET",
				url: "/user/api/user_logout",
				success: function (data) {
					if (data.success) {
						window.location = '/user/';
					}
				}
			})
		}
  </script>
</head>

<body>
	<div>
		<div id='messages'>
		</div>
		<div>
			<button onclick="logout();"> Logout </button>
			<h1 style='color: white;'> You haven't confirmed your email. </h1>
			<h3 style='color: white;'> Are you sure {{ user.email }} is correct? </h3>
			<button onclick="sendEmail();"> Resend e-mail </button>
			<form method="POST" action="#">
				<table>
					{{ confirmation_form.as_table }}
				</table>
				<input type='submit'/>
			</form>
		</div>
	</div>
</body>
</html>
