{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>
            Login
        </title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    </head>
    <body>
        <div id='content'>
            <div id="login_form">
                <form onsubmit="return handleLogin();">
                    {% csrf_token %}
                    {{ login_form }}
                    <input type='submit' value="Send" class="ui button" />
                </form>
            </div>
            <div class="ui vertical divider">
                Or
            </div>
            <div id="register_form">
                <form onsubmit="return handleRegistration();">
                    {% csrf_token %}
                    {{ signup_form }}
                    {{ registration_form }}
                    <input type='submit' class='ui button' value="Send"/>
                </form>
            </div>
        </div>
    </body>
</html>
