{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>
            Login
        </title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    </head>
    <body>
        <div id='main'>
            <div>
                <h1>Welcome</h1>
                <button class='login'>Login</button> 
                <button class='register'>Register</button>
                <div id="login_form" style='background-color: black;'>
                    <form action="" method="post" onsubmit="return handleLogin();">
                        {% csrf_token %}
                        <table>
                            {{ login_form.as_table }}
                        </table>
                        <input type='submit'/>
                    </form>
                    <div id='login_errors'>
                    </div>
                </div>
                <div id="register_form" style='background-color: white;'>
                    <form action="" method="post" onsubmit="return handleRegistration();">
                        {% csrf_token %}
                        <table>
                            {{ signup_form.as_table }}
                            {{ registration_form.as_table }}
                        </table>
                        <input type='submit'/>
                    </form>
                    <div id='register_errors'>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>