{% load static %}

<html>

<head>
    <title>
        Reset your password
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sign-up.css' %}">
</head>
    <body>
        {% if key %}
            <h4>
                What was the key sent to your e-mail?
            </h4>
            <form action="." method="POST">
                {% csrf_token %}
                <input type='text' name='key'>
                <input style='margin-top: 10px;' type='submit'>
            </form>
            <a style='padding-top: 20px;' href='/user/login/'> Wanna login instead? </a>
        {% else %}
            <p>
                resetting
            </p>
        {% endif %}
    </body>
</html>