{% load static %}

<html>

<head>
    <title>
        Reset your password
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sign-up.css' %}">
    <script type="text/javascript" src="{% static 'js/login_password.js' %}"></script>
</head>
    <body>
        {% if key %}
            <h4>
                What was the key sent to your e-mail?
            </h4>
            <form action="." method="POST">
                {% csrf_token %}
                <input type='text' name='key'>
                <input style='margin-top: 10px;' type='submit'>
            </form>
            {% if wrong_key %}
                <p style='color: red; margin: 0; margin-top: 4px;'>
                    Invalid key
                </p>
            {% endif %}
            <a style='padding-top: 20px;' href='/user/login/'> Wanna login instead? </a>
        {% else %}
            {% if pw_no_match %}
                <p style='color: red; margin: 0; margin-top: 4px;'>
                    Passwords do not match
                </p>
            {% endif %}
            <div id='password-reset'>
                <h4>Reset your password, {{ user.first_name }}</h4>
                <form method='POST' action='.'>
                    {% csrf_token %}
                    <p><input type='password' placeholder='New Password' name='pw1'/></p>
                    <p><input type='password' placeholder='Confirm Password' name='pw2'/></p>
                    <p><input type='submit' name='password_reset'/></p>
                </form>
            </div>
        {% endif %}
    </body>
</html>