{% load static %}

<html>
    <head>
        <title> Profile </title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    </head>
    <body>
        <a href="{% url 'main_page:index' %}" id="main"> Home </a>
        <form action='.' method="POST">
        	{% csrf_token %}
        	<table>
        		{{ options.as_table }}
        	</table>
        	<input type='submit' class='ui button' />
        </form>
    </body>
</html>