{% load static %}

<html>
    <head>
        <title> Profile </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    </head>
    <body>
        <a href="{% url 'main_page:index' %}" id="main"> Home </a>
        <h2> Hey {{ user.first_name }} </h2>
        <h4>Settings</h4>
        <div id='forms'>
            <form action="." method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update">
            </form>
            <br>
            <h4>Add a shift. (Please be smart)</h4>
            <form action='/user/add_shift/' method='POST'>
                {% csrf_token %}
                {{ shift_form.as_p }}
                <input type='submit' value='Add'>
            </form>
        </div>
        
    </body>
</html>