{% load static %}

<html>
    <head>
        <title> Profile </title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src='{% static 'js/profile.js' %}'></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    </head>
    <body>
        <a href="{% url 'main_page:index' %}" id="main"> Home </a>
        <div id='forms'>
            <h4>Settings</h4>
            <form id='update' action="." method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input name='update' type="submit" value="Update">
            </form>
            {% if user.is_superuser %}
                <h4>
                    Edit the MOTD
                </h4>
                <form id='motd' action='.' method="POST">
                    {% csrf_token %}
                    <input name='motd_text' type='text'>
                    <input name='motd_update' type='submit' value='Update'>
                </form>
            {% endif %}
        </div>
    </body>
</html>