{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title>
			Login
		</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
        <script>
            var ERRORS_ID = "errors";

            function submitRequest() {
                $.ajax({
                    url: "/user/api/reset_password/",
                    method: "GET",
                    data: $("#password-form").serialize(),
                    success: function(data) {
                        if (data.failed) {
                            writeError(data.failed, false);
                        } else {
                            writeError(data.success, true);
                        }
                    }
                })

                return false;
            }

            function writeError(error, success) {
                errs = $('#' + ERRORS_ID)
                errs.parent().css("display", "block");
                clearErrors();
                errs.append(getErrorMsg(error, success));
            }

            function getErrorMsg(data, success) {
                return "<div class='ui " + ((success) ? "positive" : "negative") + " message'>" + "<p> " + data + "</p></div>";
            }

            function clearErrors() {
                $('#' + ERRORS_ID).empty();
            }
        </script>
	</head>
	<body>
		<div class="ui middle aligned center aligned grid">
            <div class='twelve wide stretched column'>
                <div class="ui attached message">
                  <div class="header">
                    Reset Your Password
                  </div>
                </div>
                <div class='ui attached segment'>
                    <form class='ui form' id='password-form' onsubmit="return submitRequest();">
                        <div class='field'>
                            <label> {{ request.email.label }} </label>
                            {{ request.email }}
                        </div>
                        <input type='submit' class='ui blue button'>
                    </form>
                </div>
                <div class='ui attached segment'>
                    <form class='ui form' id='reset-form' onsubmit="return submitReset();">
                        <div class='field'>
                            <label> {{ request.email.label }} </label>
                            {{ request.email }}
                        </div>
                        <input type='submit' class='ui blue button'>
                    </form>
                </div>
                <div class='ui segment' style='display: none;'>
                    <div id='errors'>
                    </div>
                </div>
            </div>
		</div>
	</body>
</html>
