body {
    padding: 0;
    margin: 0;

    background-color: white;
    font-family: 'Lato', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body form input[type=submit] {
    background-color: white;
    font-size: 15px;

    transition: .3s;
}

body form input[type=submit]:hover {
    cursor: pointer;
    transition: .3s;

    background-color: black;
    color: white;
}

body form input[type=submit],
body form p input[type=text] {
    border: solid 3px black;

    border-radius: 6px;
    padding: 12px;
}