#shift_link {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  5%, 85% {
    transform: translate3d(-1px, 0, 0);
  }
  
  15%, 75% {
    transform: translate3d(2px, 0, 0);
  }

  25%, 45%, 65% {
    transform: translate3d(-4px, 0, 0);
  }

  35%, 55% {
    transform: translate3d(4px, 0, 0);
  }
}